@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 10vh;
    text-align: center;
    font-variant: small-caps;
    font-size: 3rem;
}

table {
    margin: auto;
    width: 400px;
    border-collapse: collapse;
}

thead th {
    border: 1px solid black;
    background-color: rgba(185, 182, 182, 0.836);
    padding: 10px;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

td.num {
    text-align: center;
}