@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #050505;
    text-align: center;
}

header h1 {
    font-size: 5rem;
    font-variant: small-caps;
    color: white;
}

header>p,
a {
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 15px;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
    line-height: 2;
}

section {
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2vw;
}

section.normal {}

section.imagem {
    display: block;
    color: white;
    background-color: rgb(78, 78, 78);
}

section.imagem>p {
    background-color: rgba(0, 0, 0, 0.466);
    display: inline-block;
    padding: 5px;

}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

footer p,
footer a {
    font-size: 2rem;
    font-variant: small-caps;
}

footer a:hover {
    text-decoration: underline;
}